@charset "UTF-8";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 2000px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__container {
  margin-bottom: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .title-logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .logo {
  padding: 22px 0 12px 0;
  width: 44%;
}
.header__container-location {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  margin-right: 17px;
}
.header__paragraphe {
  margin: 14px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 2.2em 2em;
}
.nav__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 1em;
}
.nav__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}
.nav__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: #ffffff;
  padding: 16px 20px;
  border: none;
  margin: 20px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s ease-in;
}
.nav__btn:hover {
  background: linear-gradient(rgb(255, 136.3, 222.2246268657), rgb(155.1, 98.675, 222.625));
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
}

.step {
  padding: 22px 20px;
  height: 400px;
}
.step__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.4em;
  letter-spacing: 0.8px;
}
.step__cards {
  display: flex;
  flex-direction: column;
}
.step .card {
  width: 76%;
  border-radius: 20px;
  padding: 0.3em 2.3em;
  gap: 1.5em;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-left: 8px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.step .card__number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: -7px;
  top: 24px;
}
.step .card__icon {
  font-size: 19px;
  color: #7E7E7E;
}
.step .card__icon--primary {
  color: #9356DC;
  font-size: 18px;
}
.step .card__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  flex-direction: column;
  padding: 16px 10px;
  padding-bottom: 52px;
}
.restaurants__title {
  margin: 37px 0 20px 8px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.restaurants__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0 5px;
}
.restaurants__article {
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.restaurants .image {
  position: relative;
}
.restaurants .image__img {
  object-fit: cover;
  width: -webkit-fill-available;
  height: 11em;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 340px) {
  .restaurants .image__img {
    width: 18em;
  }
}
.restaurants .image__btn {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  top: 12px;
  right: 20px;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .content {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px 15px 16px;
  color: black;
}
.restaurants .content .content__checkbox:checked ~ .content__icon--empty {
  opacity: 0;
}
.restaurants .content .content__checkbox:checked ~ .content__icon--filled {
  opacity: 1;
}
.restaurants .content__icon--empty:focus {
  opacity: 0;
}
.restaurants .content__icon--filled:focus {
  opacity: 1;
}
.restaurants .content__texts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.restaurants .content__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .content__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
.restaurants .content__like {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  margin: 0 12px 12px 0px;
  z-index: 2;
  pointer-events: auto;
}
.restaurants .content__checkbox {
  display: none;
}
.restaurants .content__icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  transition: opacity 0.5s ease;
}
.restaurants .content__icon--empty {
  opacity: 1;
}
.restaurants .content__icon--filled {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#heartGradient stop:first-child {
  stop-color: #9356DC;
}

#heartGradient stop:last-child {
  stop-color: #FF79DA;
}

#maskRect {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

svg:hover #maskRect {
  transform: translateY(-100%);
}

#heart-stroke-black {
  opacity: 1;
  transition: opacity 0.4s ease;
}

#heart-stroke-gradient {
  opacity: 0;
  transition: opacity 0.4s ease;
}

svg:hover #heart-stroke-black {
  opacity: 0;
}

svg:hover #heart-stroke-gradient {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px 22px;
  background-color: #353535;
  color: #ffffff;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  margin: 0;
}
.footer .list__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 4px;
}
.footer .link {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.footer .link__icon {
  padding-right: 10px;
  font-size: 12px;
}

.link-homepage {
  position: relative;
  right: 17vw;
}
.link-homepage__icon {
  height: 20px;
  width: 20px;
}

.logo--menu {
  margin-right: 5vw;
}

.restaurant-image {
  object-fit: cover;
  width: -webkit-fill-available;
  height: 17em;
}

.menu {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: -58px;
  border-radius: 40px 40px 0 0;
  padding: 3vw;
  justify-self: center;
  align-items: center;
}
.menu__name-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 38px;
  margin-bottom: -4px;
}
.menu__course {
  margin-bottom: 2vh;
}
.menu__course[data-index="1"] {
  animation-delay: 0.75s;
}
.menu__course[data-index="2"] {
  animation-delay: 1.5s;
}
.menu__course[data-index="3"] {
  animation-delay: 2.25s;
}
.menu__course__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 6px;
  width: 10%;
}

.menu__name {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.options {
  display: flex;
  align-items: center;
  background: #ffffff;
  width: 94vw;
  height: 11vh;
  margin-bottom: 2.5vh;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.options--last {
  box-shadow: none;
}
.options__texts {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 4vw;
  min-width: 0;
}
.options__texts--intitulé {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.options__texts--détail {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.options__anim-wrapper {
  display: flex;
}
.options__anim-wrapper--prix {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 5.5vh 0 0 2vw;
  line-height: 28px;
  transition: transform 0.3s ease;
}
.options__anim-wrapper--check {
  height: 69px;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.options:hover .options__anim-wrapper--check {
  animation: scale 0.4s ease forwards;
}
.options:hover .options__anim-wrapper--prix {
  padding: 5.5vh 2vw 0 7vw;
}

.fa-circle-check {
  color: white;
  font-size: 20px;
}

.nav__btn--menu {
  padding: 14px 50px;
  margin-top: 14px;
}

@keyframes scale {
  0% {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
  100% {
    width: 59px;
    padding-left: 0;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
.fade-in-bottom {
  animation: fade-in-bottom 1s ease-out both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
