.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header__container-logo {
  margin-bottom: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding: 22px 0 12px 0;
  width: 44%;
}
.header__container-location {
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  margin-right: 17px;
}
.header__paragraphe {
  margin: 14px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 2.5em 2em;
}
.nav__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 1em;
}
.nav__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}
.nav__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  padding: 16px 20px;
  border: none;
  margin: 20px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.step {
  padding: 24px 20px;
  height: 400px;
}
.step__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.4em;
  letter-spacing: 0.8px;
}
.step__articles {
  display: flex;
  flex-direction: column;
}
.step__article {
  width: 78%;
  display: flex;
  border-radius: 20px;
  padding: 1.6em 2.3em;
  gap: 1.5em;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-left: 8px;
  margin-bottom: 28px;
}
.step__number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -7px;
  top: 24px;
}
.step__icon {
  font-size: 19px;
  color: #7E7E7E;
}
.step__icon--primary {
  color: #9356DC;
  font-size: 18px;
}
.step__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  flex-direction: column;
  padding: 10px 10px;
}
.restaurants__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.restaurants__article {
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.restaurants__img {
  object-fit: cover;
  width: 21em;
  height: 11em;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 340px) {
  .restaurants__img {
    width: 18em;
  }
}
.restaurants__img-container {
  position: relative;
}
.restaurants__tag {
  position: absolute;
  border: 1px solid green;
  background-color: #99E2D0;
  top: 5px;
  right: 10px;
}
.restaurants__content {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding: 0px 13px;
}
.restaurants__title {
  margin: 37px 0 20px 8px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.restaurants__content__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0;
}
.restaurants__content__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.restaurants__icon {
  font-size: 24px;
  margin-right: 8px;
}
.restaurants__icon--rempli {
  color: #9356DC;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
