// ANIM LOADER
@keyframes hide-main-container {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    // opacity: 0;
    display: none;
  }
}

 @keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(800px) rotate(540deg);
    opacity: 1;

  }
}

 @keyframes text-pop-up-top {
  0% {
    scale: 0%;
    opacity: 0.4;
    transform: translateY(30px);
    filter: blur(30px);
  }
  100% {
    scale: 200%;
    opacity: 1;
    filter: blur(0);
    transform: translateY(-60px);
  }
}


// ANIMATION CHECK EXTEND

@keyframes check-scale {
  0% {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
  100% {
    width: 59px;
    padding-left: 0;
    opacity: 1;
  }
}


 @keyframes fade-in-bottom {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
