
.main-container-restau {
  animation: none;
  opacity: 1;
}

.image__restaurant {
  @include image-cover-full;
  height: 17em;

  @media (min-width: $breakpoint-tablet) {
    height: 20em;
  }

  @media (min-width: $breakpoint-desktop) {
    height: 24em;
  }
}

// MAIN

.menu {
  @include display-f-col;
  background-color: $bg-light-grey;
  margin-top: -58px;
  border-radius: $radius-top;
  padding: 12px 3vw 19px 3vw;
  justify-self: center;
  align-items: center;

      @media (min-width: $breakpoint-tablet) {
        margin-top: -42px;
        width: 75%;
        border-radius: 40px;
        margin-bottom: 20px;
      }

    @media (min-width: $breakpoint-desktop) {
        width: 67%;
        margin-bottom: 0;
        border-radius: $radius-top;
      }

  &__name-container {
    @include display-f-just-center;
    justify-content: flex-start;
    width: 100%;
    gap: 9vw;
    margin-bottom: -4px;
    padding-left: 3vw;

    @media (min-width: $breakpoint-tablet) {
      padding-top: 21px;
      padding-left: 8vw;
      gap: 22vw;
      margin-bottom: 8px;
    }

     @media (min-width: $breakpoint-desktop) {
       justify-content: center;
       gap: 2vw;
       padding: 21px 0 0 0;
    }
  }

  &__name {
    @include title-28;
  }

  &__course {
    margin-bottom: 2vh;
    animation: fade-in-bottom 1s ease-out both;

        @media (min-width: $breakpoint-tablet) {
      width: 90%;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 66%;
    }
    @for $i from 1 through 3 {
      &[data-index="#{$i}"] {
        animation-delay: 0.75s * $i;
      }
    }


    &__title {
      @include text-16(400);
      text-transform: uppercase;
      border-bottom: 3px solid $tertiary-color;
      padding-bottom: 6px;
      width: 10%;

      @media (min-width: $breakpoint-desktop) {
        width: 7%;
      }
    }
  }
}
