.restaurants  {
  background-color: $bg-light-grey;
  flex-direction: column;
  padding: 10px 10px;

  &__container {
    @include display-f-just-center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  };

  &__article {
    border-radius:15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }

  &__img {
    object-fit: cover;
    width: 21em;
    height: 11em;
    border-radius: 20px 20px 0 0;
    @media screen and (max-width: 340px) {
      width: 18em;
    }
  }

  &__img-container {
    position: relative;
  }

  &__tag {
    position: absolute;
    border: 1px solid green;
    background-color: $tertiary-color;
    top: 5px;
    right: 10px;
  }

  &__content {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13px;
  }

  &__title {
    margin: 37px 0 20px 8px;
    @include title-24-bold;
  }


  &__content__title {
    @include text-18;
    margin: 8px 0;
  }


  &__content__paragraphe {
    @include text-17;
    margin: 0 0 10px 0;
  }

  &__icon {
    font-size: 24px;
    margin-right: 8px;
  }

  &__icon--rempli {
    color: $primary-color;
  }


}
