// HEADER
.link-homepage {
  position: relative;
  right: 17vw;

  &__icon {
    height: 20px;
    width: 20px;
  }
}
.logo--menu {
  margin-right: 5vw;
}

.restaurant-image {
  object-fit: cover;
  width: -webkit-fill-available;
  height: 17em;
}

.menu {
  width: -webkit-fill-available;
  @include display-f-just-center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $bg-light-grey;
  margin-top: -58px;
  border-radius: 40px 40px 0 0;
  padding: 3vw;
  justify-self: center;
  align-items: center;

  &__name-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 38px;
    margin-bottom: -4px;

  }

  &__course {
    margin-bottom: 2vh;

    @for $i from 1 through 3 {
      &[data-index="#{$i}"] {
        animation-delay: 0.75s * $i;
      }
    }

    &__title {
      @include text-16(400);
      text-transform: uppercase;
      border-bottom: 3px solid $tertiary-color;
      padding-bottom: 6px;
      width: 10%;
      }
  }
}


.menu__name {
  @include title-28;
}


.options {
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  background: $white;
  width: 94vw;
  height: 11vh;
  margin-bottom: 2.5vh;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  &--last {
    box-shadow: none;
  }

    &__texts {
      @include display-f-col;
      // justify-content: space-between;
      flex: 1;
      padding-left: 4vw;
      min-width: 0;

      &--intitulé {
        @include text-18(600);
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      &--détail {
        @include text-15;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }


  &__anim-wrapper {
    display: flex;
    // align-items: flex-end;

    &--prix {
      // display: inline-block;
      @include text-15(600);
      padding: 5.5vh 0 0 2vw;
      line-height: 28px;
      transition: transform 0.3s ease;
    }


    &--check {
      height: 69px;
      // width: 0;
      // overflow: hidden;
      background: $tertiary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      // transition: none;
      // white-space: nowrap;
    }
  }

  &:hover &__anim-wrapper--check {
    // transform-origin: right;
    animation: scale 0.4s ease forwards;
  }
  &:hover &__anim-wrapper--prix {
    padding: 5.5vh 2vw 0 7vw;
  }

}
.fa-circle-check {
  color: white;
  font-size: 20px;
  // position: relative;
}



.nav__btn--menu {
  padding: 14px 50px;
  margin-top: 14px;
}
@keyframes scale {
  0% {
    // transform: scaleX(0);
    width: 0;
    padding-left: 0;
    padding-right: 0;
    // opacity: 0;
  }
  100% {
    // transform: scaleX(1);
    width: 59px;
    padding-left: 0;
    // padding-right: 20px;
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 .fade-in-bottom {
  animation: fade-in-bottom 1s ease-out both;
}
 @keyframes fade-in-bottom {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
