// COLORS
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-blue-color: #003A68;
$white: #ffffff;
$step-icon: #7E7E7E;
$nouveau-btn-green: #008766;

// BACKGROUNG COLORS
$bg-grey: #EAEAEA;
$bg-light-grey: #F6F6F6;
$bg-dark-grey: #353535;

// FONTS
$font-primary: "Shrikhand";
$font-secondary: 'Roboto', sans-serif;

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// REUSABLE MIXINS

@mixin display-f-just-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin display-f-col {
  display: flex;
  flex-direction: column;
}


  // FONTS MINXINS
@mixin text-14 ($weight: 400) {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: $weight;
}

@mixin text-15 ($weight: 300) {
  font-family: $font-secondary;
  font-size: 15px;
  font-weight: $weight;
}

@mixin text-16 ($weight: 500) {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: $weight;
}

@mixin text-bold ($font-size: 24px) {
  font-family: $font-secondary;
  font-size: $font-size;
  font-weight: bold;
}
@mixin title-28 {
  font-family: $font-primary;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

@mixin text-18 ($weight: 700){
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: $weight;
}
@mixin title-18 ($weight: 400){
  font-family: $font-primary;
  font-size: 18px;
  font-weight: $weight;
  font-style: italic;
}


@mixin text-17 ($weight: 300){
  font-family: $font-secondary;
  font-size: 17px;
  font-weight: $weight;
}


// GNERAL

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
