$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-blue-color: #003A68;


$bg-grey: #EAEAEA;
$bg-light-grey: #F6F6F6;
$bg-dark-grey: #353535;


$font-primary: "Shrikhand";
$font-secondary: 'Roboto', sans-serif;

@mixin display-f-just-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-14 ($weight: 400) {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: $weight;
}

@mixin text-16 ($weight: 500) {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: $weight;
}

@mixin text-24-bold {
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: bold;
}

@mixin text-18 ($weight: 700){
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: $weight;
}
@mixin title-18 ($weight: 400){
  font-family: $font-primary;
  font-size: 18px;
  font-weight: $weight;
  font-style: italic;
}


@mixin text-17 ($weight: 300){
  font-family: $font-secondary;
  font-size: 17px;
  font-weight: $weight;
}




a {
  text-decoration: none;
}
